{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis necessitatibus deserunt quas nostrum sunt doloribus temporibus a nam ducimus similique consequuntur maiores recusandae, optio porro laudantium alias neque accusantium quaerat ad delectus cum. Non pariatur et soluta eius. Voluptatibus, non.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque ex, aliquid culpa dolorum libero architecto similique natus dolores. Sunt earum cum minima consequatur aspernatur nostrum libero doloremque reprehenderit odit ut esse quas repellat, dolorem nemo ex culpa praesentium, a error suscipit quia voluptates totam ducimus aliquid! Ipsum, eius excepturi!</p>
</div>
  
{% endblock content %}